<h1>Hello world!</h1>
<%if user_signed_in? %>
  <p>Welcome
  <%= current_user.email.to_s %></p>
<%else%>
  <p>Welcome to the Friend App</p>
  <p>Please <a href="users/sign_in">log in</a> or <a href="users/sign_up">create an account</a>.</p>
<%end%>
<p>Just some text, because...<p>
<p>Why not?<p>
